
@media screen and (max-width: 425px) {
    footer{
    background-color: #e5e5e5;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40vh;
    padding: 0;
    margin: 0;
    
    
    p{
    width: 100%;
    padding: 0;
    margin: 0;
    }
    
    
    
    img{
    visibility: hidden;
    
    }
    a{
    text-decoration: none;
    color: #0000EE;
    }
    }
    
    }
    
    @media screen and (max-width: 1440px){
    footer{
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    img{
    width: 20px;
    height: 20px;
    
    }
    a{
    text-decoration: none;
    color: #0000EE;
    }
    }
    }