header {
  background-color: #ffffff;
  border-bottom: 4px #f5f5f5 solid;
}

@media only screen and (max-width: 810px) {
  nav {
    width: 100%;
    height: 6vh;
    align-items: center;
  }
  nav #navegacion1 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  nav #navegacion1 button {
    border: 0;
    background-color: transparent;
  }
  nav #navegacion1 button img {
    width: 2rem;
    height: 2rem;
  }
  nav #navegacion1 a img {
    width: 3.14rem;
    height: 2.5rem;
  }
  nav #navegacion2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav #navegacion2 #search {
    background-image: url("/images/search.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  nav #navegacion2 #bell {
    background-image: url("/images/bell.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  nav #navegacion2 #perfil #imagen {
    border: 1px solid #c5c5c5;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--rw78308h--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/957623/0e3c3a82-6032-495f-8ee4-874d95885c14.png");
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
  .offcanvas.offcanvas-start {
    width: 76%;
  }
  .offcanvas.offcanvas-start h2 {
    font-size: 1.125rem;
  }
  .offcanvas .offcanvas-body li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    list-style: none;
  }
  .offcanvas .offcanvas-body li a {
    color: black;
    height: 80%;
    text-decoration: none;
  }
  .offcanvas .offcanvas-body .ftr {
    width: 80%;
    height: 5vh;
  }
  .offcanvas .offcanvas-body .ftr .twitter {
    background-image: url("/images/twitter.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  .offcanvas .offcanvas-body .ftr .facebook {
    background-image: url("/images/facebook.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  .offcanvas .offcanvas-body .ftr .github {
    background-image: url(/images/github.svg);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  .offcanvas .offcanvas-body .ftr .instagram {
    background-image: url("/images/instagram.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  .offcanvas .offcanvas-body .ftr .twitch {
    background-image: url("/images/twitch.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 810px) {
  body header nav {
    width: 100%;
    height: 8vh;
    align-items: center;
  }
  body header nav #navegacion1 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  body header nav #navegacion1 a {
    margin-left: 10px;
  }
  body header nav #navegacion1 a img {
    width: 3.6rem;
    height: 2.7rem;
  }
  body header nav #navegacion1 .input-wrapper {
    position: relative;
    width: 83%;
  }
  body header nav #navegacion1 .input {
    border: 1px solid black;
    border-radius: 4px;
    color: #191919;
    padding: 15px 2px 15px 10px;
    width: 80%;
    height: 2.7rem;
  }
  body header nav #navegacion1 .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 75%;
    top: 50%;
    transform: translateY(-50%);
  }
  body header nav #navegacion2 {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body header nav #navegacion2 #search {
    background-image: url("/images/search.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  body header nav #navegacion2 #bell {
    background-image: url("/images/bell.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  body header nav #navegacion2 #perfil #imagen {
    border: 1px solid #c5c5c5;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--rw78308h--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/957623/0e3c3a82-6032-495f-8ee4-874d95885c14.png");
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
}
main {
  background-color: #f5f5f5;
}
main .main__asideDer--iconosredes {
  color: #404040;
}
main .main__asided--width {
  width: 22rem;
}
main section .active {
  background-color: #f5f5f5 !important;
  color: #000 !important;
  font-weight: bold !important;
}
main section .section__botton--group {
  background-color: transparent;
  color: #575757;
  border: none;
  font-size: 1.1rem;
}
main section .section__card--imgUsuario {
  width: 5%;
  margin-right: 0.5rem;
}
main section .section__card--imgUsuario img {
  width: 100%;
  border: 1px solid #575757;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .section__card--textUsuario a {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
}
main section .section__card--textUsuario p {
  font-size: 0.7rem;
  color: #5f5f5f;
  margin: 0;
}
main section .section__card--textTitulo {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}
main section .section__card--textSubtitulo {
  font-size: 1.5rem;
  font-weight: 700;
}
main section .section__card--textTags {
  margin-left: 3rem;
}
main section .section__card--textTags a {
  text-decoration: none;
  color: #4d4d4d;
  margin-right: 1rem;
  font-size: 0.9rem;
}
main section .section__card--textTags a:hover {
  color: #000;
}
main section .section__card--detalles {
  margin-left: 3rem;
}
main section .section__card--detalles a {
  text-decoration: none;
  color: #4d4d4d;
  margin-right: 1rem;
  font-size: 0.9rem;
}
main section .section__card--detalles a:hover {
  color: #000;
}
main section .section__card--detallesEntrada p {
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}
main section .section__card--detallesEntrada img {
  margin-right: 1rem;
}

@media screen and (max-width: 576px) {
  aside .card__aside--1,
aside .card__aside--2,
aside .asideizq__tags {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .section__center {
    width: 31rem;
  }
  aside .main__asidei--width {
    width: 18rem;
    background-color: crimson !important;
  }
}
@media screen and (max-width: 576px) {
  main section {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1020px) {
  .col--der {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .entrada__aside--centrar {
    margin-left: 17%;
    width: 83%;
  }
  .aside__background--top {
    height: 4vh;
    border-radius: 7px 7px 0 0;
  }
}
@media screen and (min-width: 1021px) {
  * {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  .col--der div {
    margin-bottom: 15px;
  }
  .col--der .card-body {
    padding: 0px;
  }
  .col--der a {
    text-decoration: none;
    font-weight: bold;
    color: #0000FF;
  }
  .col--der h5 {
    font: 20px;
    color: #404040;
    font-weight: bold;
  }
  .col--der ul {
    width: 100%;
  }
  .col--der li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    border: 1px double transparent;
    color: #404040;
  }
  .col--der li p {
    display: block;
  }
  .col--der p {
    font-size: 14px;
    color: gray;
  }
  .col--der p span {
    background-color: yellow;
    color: red;
  }
  .col--der button {
    margin: 5px 0px 5px 0px;
  }
  .col--der .card-title--h5 {
    color: #242424;
  }
  .col--der .aside__background--top {
    height: 1vh;
  }
}
@media screen and (max-width: 425px) {
  footer {
    background-color: #e5e5e5;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40vh;
    padding: 0;
    margin: 0;
  }
  footer p {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  footer img {
    visibility: hidden;
  }
  footer a {
    text-decoration: none;
    color: #0000EE;
  }
}
@media screen and (max-width: 1440px) {
  footer {
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
  }
  footer img {
    width: 20px;
    height: 20px;
  }
  footer a {
    text-decoration: none;
    color: #0000EE;
  }
}
/*# sourceMappingURL=style.css.map */
@media only screen and (max-width: 1080px) {
  body main div div section .comments {
    padding: 1vh;
    background-color: white;
    border-radius: 5px;
  }
  body main div div section .comments .comments__header {
    margin-bottom: 2.5vh;
  }
  body main div div section .comments .comments__header .comments__titulo {
    font-size: 1.25rem;
  }
  body main div div section .comments .comments__body .comments__body__nuevo--comentario .nuevo__comentario--input {
    width: 92%;
  }
  body main div div section .comments .comments__body .comments__body__nuevo--comentario .nuevo__comentario--input .comentario__input {
    border-radius: 5px;
    height: 8vh;
    width: 90%;
    margin-bottom: 2.5vh;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 {
    padding-left: 0.5rem;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario__imagen--perfil {
    margin-right: 1.2rem;
    margin-left: 0.2rem;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario {
    width: 81%;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body {
    width: 100%;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body .card-subtitle {
    text-align: left;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body .card-text {
    font-size: 1rem;
    text-align: justify;
  }
  body main div div section .comments .comments__body .comments__body__footer {
    padding-left: 3rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  body main div div section .comments .comments__body .comments__body__footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border: 0;
    background-color: white;
  }
  body main div div section .comments .comments__body .comments__body__footer button span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main div div section .comments .comments__body .comments__body__footer button span p {
    margin-left: 5px;
    margin-top: 15px;
  }
  body main div div section .comments .comments__body .comments__body__footer button:hover {
    border: 1px white solid;
    border-radius: 10px;
    background-color: #F8F8F8;
  }
  body main div div section .comments #imagen {
    border: 1px solid #c5c5c5;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--rw78308h--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/957623/0e3c3a82-6032-495f-8ee4-874d95885c14.png");
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 1080px) {
  body main div div section .comments {
    padding: 1vh;
    background-color: white;
    border-radius: 5px;
  }
  body main div div section .comments .comments__header {
    margin-bottom: 2.5vh;
  }
  body main div div section .comments .comments__header .comments__titulo {
    font-size: 1.25rem;
  }
  body main div div section .comments .comments__body .comments__body__nuevo--comentario .nuevo__comentario--input {
    width: 92%;
  }
  body main div div section .comments .comments__body .comments__body__nuevo--comentario .nuevo__comentario--input .comentario__input {
    border-radius: 5px;
    height: 8vh;
    width: 90%;
    margin-bottom: 2.5vh;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 {
    padding-left: 0.5rem;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario__imagen--perfil {
    margin-right: 2.6rem;
    margin-left: 0.2rem;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario {
    width: 81%;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body {
    width: 100%;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body .card-subtitle {
    text-align: left;
  }
  body main div div section .comments .comments__body .comments__body__comentario--100 .comments__body__comentario .card-body .card-text {
    font-size: 1rem;
    text-align: justify;
  }
  body main div div section .comments .comments__body .comments__body__footer {
    padding-left: 4rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
  body main div div section .comments .comments__body .comments__body__footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border: 0;
    background-color: white;
  }
  body main div div section .comments .comments__body .comments__body__footer button span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main div div section .comments .comments__body .comments__body__footer button span p {
    margin-left: 5px;
    margin-top: 15px;
  }
  body main div div section .comments .comments__body .comments__body__footer button:hover {
    border: 1px white solid;
    border-radius: 10px;
    background-color: #F8F8F8;
  }
  body main div div section .comments #imagen {
    border: 1px solid #c5c5c5;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--rw78308h--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/957623/0e3c3a82-6032-495f-8ee4-874d95885c14.png");
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
}
.entrada__asideIzq--texto {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrada__card--textTitulo {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 1rem;
  text-align: left;
}

.entrada__card--imgUsuario {
  width: 5%;
  margin-right: 0.5rem;
}
.entrada__card--imgUsuario img {
  width: 100%;
  border: 1px solid #575757;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrada__card--textUsuario a {
  color: #4d4d4d;
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: none;
}
.entrada__card--textUsuario p {
  font-size: 0.7rem;
  color: #5f5f5f;
  margin: 0;
}

.entrada__card--textTags a {
  text-decoration: none;
  color: #4d4d4d;
  margin-right: 1rem;
  font-size: 0.9rem;
}
.entrada__card--textTags a:hover {
  color: #000;
}

.entrada__content--borde {
  border-left: 4px solid #d6d6d7;
  padding-left: 1rem;
}

.entrada__content--img {
  width: 100%;
}
.entrada__content--img img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.entrada__content--borderBottom {
  width: 10rem;
  height: 2px;
  color: #121111;
  opacity: 0.1;
  margin: 2rem auto;
  border: 1px solid;
}

.entrada__list-group a {
  background-color: #f8f8f8;
  border: #616161;
}

.entrada__boton--aside {
  width: 3.1rem;
  height: 3.1rem;
}
.entrada__boton--aside:hover {
  background-color: #ececec;
}
.entrada__boton--aside img {
  width: 100%;
}

.activeItemMenu {
  color: #666565;
  font-weight: bold;
}

.contenedor__icono--item {
  width: 15%;
  display: inline-block;
}
.contenedor__icono--item img {
  width: 80%;
  margin-left: 5rem;
}

.aside-fijo {
  position: fixed;
  width: 7%;
  top: 7rem;
  left: 1rem;
  z-index: 999;
}

.menu__width--aside {
  width: 15rem;
}

@media screen and (max-width: 576px) {
  .entrada__card--textTitulo {
    font-size: 2rem;
  }
  .section__reactions {
    display: none !important;
  }
}
body {
  margin-top: 8.5vh;
}/*# sourceMappingURL=style.css.map */